# Database Connection
DB_URL = postgresql://USER:YOUR_PASSWORD@HOST/DB_NAME

# Telegram Bot Token (Get this from @BotFather)
BOT_TOKEN = YOUR_TELEGRAM_BOT_TOKEN_HERE

# Weather API Endpoint
WEATHER_BASE_URL = "https://api.open-meteo.com/v1/forecast"

# App Settings
DEBUG_MODE = True